@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


body{
    font-family: 'Poppins', sans-serif;
}



header {
    width: 100%;
    line-height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    box-shadow: 0px 0px 40px -20px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
    align-items: center;
}

#content {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    margin: 0 auto;
    padding: 1rem 3rem;
}

#pesquisa {
    border: none;
    box-sizing: border-box;
    font-family: "Inter";
    font-style: normal;
    color: #868e96;
    background: #e9ecef;
    padding-left: 1em;
}

::placeholder {
    color: #868e96;
}



#logoKenzieFood{
    display: flex;
    align-items: center;
}

#voltarHome{
    height: 43px;
}

#barraDePesquisa{
    display: flex;
    background-color: #e9ecef;
    border: 1.5px solid #e9ecef;
    border-radius: 10px;
    padding: 0.5em;
}

#botaoPesquisar{
    border: none;
    background: transparent;
}

main {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
}

img {
    width: 270px;
    box-sizing: border-box;
    border: 2px solid transparent;
}

img:hover {
    cursor: pointer;
    border: 2px solid #000000;
    border-radius: 10px;
}

#vitrinePrincipal {
    flex-grow: 2;
}

#vitrineCarrinho {
    width: 250px;
    height: 420px;
    display: flex;
    flex-direction: column;
    
}


#carrinhoTexto {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    color: #ffffff;
    background: #ff2253;
    line-height: 30px;
    border-radius: 10px 10px 0 0;
    padding: 15px;
    display: flex;
    align-items: center;
}

#carrinhoTexto svg{
    width: 2rem;
    height: 1rem;
    padding: 0 2rem 0 0;
}

#qtdCarrinho,
#totalCarrinho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    background-color: #e9ecef;
    line-height: 30px;
}

#totalCarrinho {
    background-color: #ffffff;
}

#botoesCategoria {
    display: flex;
    flex-wrap: wrap;
}

.categoriasVitrine {
    display: flex;
    align-items: center;
    height: 48px;
    width: 170px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #212529;
    border: 1.5px solid #fff7f4;
    box-sizing: border-box;
    border-radius: 32px;
    margin-bottom: 20px;
}

.categoriasVitrine {
    color: #212529;
    border: 1.5px solid #fff7f4;
}
.categoriasVitrine, .categoriaSelected {
    height: 48px;
    width: fit-content;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    box-sizing: border-box;
    border-radius: 32px;
    margin-bottom: 30px;
    margin-right: 3px;
    padding: 0px 20px;
    cursor: pointer;
}

.categoriasVitrine:hover, .categoriaSelected {
    background-color: #FF2253;
    border: 1.5px solid #FF2253;
    color: white;
}

#vitrineProdutos {
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cardProduto {
    width: 270px;
    margin-bottom: 30px;
}

#produtoNome {
    margin-top: -30px;
    font-family: "Poppins";
    font-style: medium;
    font-weight: 500;
    margin-bottom: 20px;
}

#produtoDescricao {
    line-height: 24px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #868e96;
    margin-bottom: 20px;
}

#produtoPreco {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
}

#produtoCategoria {
    line-height: 30px;
    width: 150px;
    background: #f3eef5;
    text-align: center;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: #212529;
    border: 1.5px solid #f3eef5;
    box-sizing: border-box;
    border-radius: 32px;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
    top: -20px;
    left: 20px;
}

#precoBtn {
    display:flex;
    justify-content: space-between;
    line-height: 30px;
}

#btnAdicionarCarrinho {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border:none;
    background-color: rgba(0, 128, 0, 0.228);
}