
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


body{
    font-family: 'Poppins', sans-serif;
}

/* HEADER */
header {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 0px 40px -20px rgb(0 0 0 / 25%);
    margin-bottom: 30px;
    align-items: center;
}

#content {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    margin: 0 auto;
    padding: 1rem 3rem;
}

#pesquisa {
    border: none;
    box-sizing: border-box;
    font-family: "Inter";
    font-style: normal;
    color: #868e96;
    background: #e9ecef;
    padding-left: 1em;
}

::placeholder {
    color: #868e96;
}



#logoKenzieFood{
    display: flex;
    align-items: center;
}

#voltarHome{
    height: 43px;
}

#barraDePesquisa{
    display: flex;
    background-color: #e9ecef;
    border: 1.5px solid #e9ecef;
    border-radius: 10px;
    padding: 0.5em;
}

#botaoPesquisar{
    border: none;
    background: transparent;
}



#adicionarProduto {
    width: 217px;
    height: 48px;
}

#cadastrarProdutoButton {
    width: 440px;
    height: 51px;
    margin-top: 40px;
}

#adicionarProduto, #cadastrarProdutoButton {
    background-color: #FF2253;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid #FF2253;
    box-sizing: border-box;
    border-radius: 32px;
    cursor: pointer;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.modal {
    display: none; 
    align-items: center;
    justify-content: center;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
  
.modal-content {
    display: flex;
    flex-direction: column;
    background-color: #F8F9FA;
    margin: auto;
    padding: 20px 0px;
    border: 1px solid #888;
    width: 496px; 
    border-radius: 8px;
    font-family: 'Inter';
}

.cadastro {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 0 25px 25px 25px;
}

.cadastro p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
}
  
.close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    color: #868E96;
    float: right;
    font-family: 'Nunito';
    font-size: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    background: #E9ECEF;
    border-radius: 4px;
}
  
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#cadastrarProdutoInfo {
    display: flex;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 0px 0px 8px 8px;
}

#cadastrarProdutoForm {
    display: flex;
    flex-direction: column;
}

.cadastrarProdutoInput {
    width: 440px;
    height: 52px;
    background: #F8F9FA;
    border: 1.5px solid #DEE2E6;
    box-sizing: border-box;
    border-radius: 12px;
}

#cadastrarProdutoForm label {
    margin-top: 10px;
    margin-bottom: 5px;
}

#cadastrarProdutoCategorias,
#editarProdutoCategorias {
    display: flex;
    justify-content: flex-start;
    overflow: auto;
    max-width: 440px;
}

#cadastrarProdutoCategorias .categoriasVitrine, #btnTodos {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1.5px solid #F8F9FA;
    border-radius: 32px;
    cursor: pointer;
    background: #F8F9FA;
    color: #868E96;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    width: fit-content;
    padding: 0px 20px;
    height: 40px;
}

#cadastrarProdutoCategorias .categoriasVitrine:hover, .categoriasVitrine:hover, .categoriaSelected, .categoriaProdutoSelected {
    background-color: #FF2253;
    border: 1.5px solid #FF2253;
    color: white;
}

#vitrineCategorias {
    display: flex;
    justify-content: space-between;
    margin: 0 48px 48px;
}

#botoesCategoria {
    display: flex;
    overflow-x: auto;
    margin-right: 10px;
}

.categoriasVitrine, #btnTodos {
    color: #212529;
    border: 1.5px solid #fff7f4;
}
.categoriasVitrine, .categoriaSelected, .categoriaProdutoSelected,#btnTodos {
    display: flex;
    align-items: center;
    height: 40px;
    width: fit-content;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    box-sizing: border-box;
    border-radius: 32px;
    margin-bottom: 20px;
    margin-right: 3px;
    padding: 0px 20px;
    cursor: pointer;
    line-height: 19px;
}

#btnTodos:hover{
    color: #FF2253;
}

.categoriasVitrine:hover, .categoriaSelected, .categoriaProdutoSelected  {
    background-color: #FF2253;
    border: 1.5px solid #FF2253;
    color: white;
}


#categoriaInedita {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1.5px solid #F8F9FA;
    border-radius: 32px;
    background: #F8F9FA;
    color: #868E96;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    width: fit-content;
    padding: 0px 20px;
    height: 40px;
}

.categoriaProdutoSelected {
    height: 40px;
    margin-bottom: 20px;
    margin-right: 3px;
}
/* TABELA CARDS */

#vitrineProdutos {
    display: grid;
    margin: 0 48px;
    overflow-x: scroll;
}

#tituloVitrine{
    display: flex;
    margin-bottom: 2rem;
}

.coluna{
    width: 30%;
    font-size: 1em;
    color: #868E96;
}

.colunaAcoes{
    width: 20%;
    font-size: 1em;
    display: flex;
    color: #868E96;
    justify-content: center;
}

.containerCardProduto{
    display: flex;
    margin: 0.5rem 0;
    border: 1px solid #E9ECEF;
    border-radius: 12px;
    padding: 0.5rem;
}

.infoProduto{
    width: 30%;
    display: flex;
    align-items: center;
}

.infoProduto img{
    width: 2rem;
    height: 2rem;
    border-radius: 132px;
    margin-right: 1.5rem;
}

.infoProduto h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 0.9em;
    color: #212529;
}

.infoCategorias{
    width: 30%;
    max-width: 30%;
    display: flex;
    align-items: center;
    overflow-x: auto;
    margin-right: 10px;
}

.infoCategorias::-webkit-scrollbar {
    height: 5px;
}

#cadastrarProdutoCategorias::-webkit-scrollbar,
#botoesCategoria::-webkit-scrollbar,
#editarProdutoCategorias::-webkit-scrollbar {
    width: 1px;
    height: 10px;
}

.infoCategorias::-webkit-scrollbar-track, 
#cadastrarProdutoCategorias::-webkit-scrollbar-track,
#botoesCategoria::-webkit-scrollbar-track,
#editarProdutoCategorias::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
   
.infoCategorias::-webkit-scrollbar-thumb, 
#cadastrarProdutoCategorias::-webkit-scrollbar-thumb,
#botoesCategoria::-webkit-scrollbar-thumb,
#editarProdutoCategorias::-webkit-scrollbar-thumb {
    background-color: #FF2253;
    border-radius: 10px;
}

.infoCategorias h3{
    color: #868E96;
    background: #F8F9FA;
    border-radius: 8px;
    padding: 0.3em 1em;
}

.infoDescricao{
    width: 30%;
    display: flex;
    align-items: center;
    
}

.infoDescricao p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9em;
    color: #868E96;
    max-width: 12ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.infoAcoes{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.infoAcoes button{
    display: flex;
    border-radius: 100px;
    width: 2.5rem;
    align-content: center;
    height: 2.5rem;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}

.infoAcoes button svg{
    width: 1rem;
    height: 1rem;
}

#editar{
    margin: 0 1rem;
}

@media (min-width: 800px){

    #vitrineProdutos{
        overflow-x: hidden;
    }

    .infoDescricao p{
        max-width: 20ch;
    }
}


/* Modal: Editar produto - Inicio*/
body{
    box-sizing: border-box;
}
.modalEditarCarrinhoContainerOverlay{
    width: 100vw;
    height: 100vh;
    background-color: #0000003d;
    top: 0;
    position: fixed;
    z-index: 2;
}
.modalEditarProdutoCarrinho{
    width: 496px;
    margin: 0 auto;
    
}
/* input, textarea{
   
} */


.modalEditarProdutoCarrinho__cabecalho{
    display: flex;
    align-items: center;
    position: relative;
    
    width: 100%;
    height: 70px;
    border-radius: 8px 8px 0px 0px;
    background-color: #F8F9FA
}
.modalEditarProdutoCarrinho__cabecalho h2{
    margin-left: 28px;
    
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
}
.modalEditarProdutoCarrinho__cabecalho span{
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    right: 0;
    margin-right: 28px;
    
    Width: 31px;
    Height: 30px;
    border-radius: 4px;
    background-color: #E9ECEF;
    
    font-family: 'Nunito', sans-serif;
    color: #868E96;
    font-weight: 400;
    font-style: normal;
}


.modalEditarProdutoCarrinho__corpo{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    border-radius: 0px 0px 8px 8px;
    background-color: #FFFFFF;
}
.modalEditarProdutoCarrinho__containerNome{
    display: flex;
    justify-content: center;
    flex-direction: column;

    height: 68px;
    margin-top: 25px;
}

.modalEditarProdutoCarrinho__containerDescricao{
    display: flex;
    justify-content: center;
    flex-direction: column;

    height: 96px;
    margin: 20px 0px;
}

.modalEditarProdutoCarrinho__containerValorProduto{
    display: flex;
    justify-content: center;
    flex-direction: column;

    
    margin-top: 40px;
}
.modalEditarProdutoCarrinho__containerLinkDaImagem{
    display: flex;
    justify-content: center;
    flex-direction: column;

    height: 68px;
    margin-top: 40px;
}
.modalEditarProdutoCarrinho__textArea{
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 440px;
    height: 80px;

    padding: 20px;
    resize: none;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 10px 0px;

    border: 1.5px solid #DEE2E6;
    box-sizing: border-box;
    border-radius: 12px;
    
    color: #212529;
    background-color: #F8F9FA;
}

.modalEditarProdutoCarrinho__textArea::placeholder{
    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 0px 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #868E96;
}


.modalEditarProdutoCarrinho__textArea:hover{
    border: 1.5px solid #DEE2E6;
    background-color: #DEE2E6;

}
.modalEditarProdutoCarrinho__textArea:focus{
    
    border: 1.5px solid #212529;
    background-color: #ffffff;
    outline: none
}

.modalEditarProdutoCarrinho__label{
    color:#212529 ;
    line-height: 0;
}
.modalEditarProdutoCarrinho__input{
    width: 440px;
    padding: 10px 20px;
    margin: 16px 0px;
    

    border: 1.5px solid #DEE2E6;
    box-sizing: border-box;
    border-radius: 12px;
    color: #212529;
    background-color: #F8F9FA;
}
.modalEditarProdutoCarrinho__input::placeholder{
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #868E96;
}

.modalEditarProdutoCarrinho__input:hover{
    border: 1.5px solid #DEE2E6;
    background-color: #DEE2E6;
}

.modalEditarProdutoCarrinho__input:focus{

    border: 1.5px solid #212529;
    background-color: #ffffff;
    outline: none;
}




.modalEditarProdutoCarrinho__categoria{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;

    width: 440px;
    height: fit-content;
    margin-top: 10px;

}
.modalEditarProdutoCarrinho__categoria h3{
    align-self: start;
    margin: 0;
    color: #212529;
    margin-bottom: 10px
}

.modalEditarProdutoCarrinho__containerBotoes{
    display: flex;
    justify-content: space-between;

    width: 100%;
     
}

.modalEditarProdutoCarrinho__categoria .modalEditarProdutoCarrinho__butoes{
 
    width: 136px;
    height: 40px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #868E96;

    border: 1.5px solid #F8F9FA;
    box-sizing: border-box;
    border-radius: 32px;
    background-color: #F8F9FA;
    
    
}
.modalEditarProdutoCarrinho__categoria .modalEditarProdutoCarrinho__butoes:hover{
border: 1.5px solid #FF2253;
background-color: #FF2253;
color: #F8F9FA;
}

.modalEditarProdutoCarrinho__containerBotoesSubmit .modalEditarProdutoCarrinho__butoes{
    width: 192px;
    height: 52px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #868E96;

    border: 1.5px solid #F8F9FA;
    box-sizing: border-box;
    border-radius: 32px;
    background-color: #F8F9FA;
}

.modalEditarProdutoCarrinho__containerBotoesSubmit{
    margin-bottom: 30px;
}
.modalEditarProdutoCarrinho__containerBotoesSubmit .modalEditarProdutoCarrinho__butoes--width{
    width: 240px;
}
.modalEditarProdutoCarrinho__containerBotoesSubmit .modalEditarProdutoCarrinho__butoes:hover{
    border: 1.5px solid #FF2253;
    background-color: #FF2253;
    color: #F8F9FA;
    cursor: pointer;
}
.modalEditarProdutoCarrinho--hide{
    display: none;
}

/* Modal: Editar produto - Fim*/


.notification-popup,
.notification-popup--hide
{
    width: 496px;
    height: 135px;
    bottom: 8px;
    float: right;
    right: 8px;
    position: fixed;
    transition: opacity .5s linear;
   /*  pointer-events: none */
}
.notification-popup {
    opacity: 1;
}
.notification-popup--hide{
    opacity: 0;
}

.notification-popup__cabecalho{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 70px;
    border-radius: 8px 8px 0px 0px;
    background-color: #F8F9FA
}
.notification-popup__cabecalho h2{
    margin-left: 28px;
    
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    color: #000000;
    
}

.notification-popup__cabecalho span{
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    right: 0;
    margin-right: 28px;
    
    Width: 31px;
    Height: 30px;
    border-radius: 4px;
    background-color: #E9ECEF;
    
    font-family: 'Nunito', sans-serif;
    color: #868E96;
    font-weight: 400;
    font-style: normal;
}

.notification-popup__corpo{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    height: 65px;
    border-radius: 0px 0px 8px 8px;
    background-color: #FFFFFF;
}
.notification-popup__corpo p{
    margin-left: 28px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    color: #212529;
}
.notification-popup__status{
    height: 8px;
    border-radius: 0px 0px 8px 8px
}
#pesquisaFotoPerfil{
    display: flex;
    align-items: center;
}

#fotoPerfilDireita{
    display: flex;
    align-items: center;
    margin: 0 48px 0 20px;
}

#logoKenzieFood{
    margin: 0 48px;
}

#opcao-sair{
    flex-direction: row;
}

#delete-info>h2{
    margin-top: 50px;
    margin-right: 71px;
    margin-left: 69px;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    width: 369px;
}
  
.btn-style-modal-delete {
    border-radius: 32px;
    color: #868E96;
    border: none;
    margin-bottom: 35px;
    margin-top: 49px;
    margin-left: 28px;
    width: 210px;
    height: 52px;
    cursor: pointer;
}

.btn-style-modal-delete:hover {
    background-color: #FF2253;
    color: white;

}

.modalEditarProdutoCarrinho__cabecalho h3{
    margin-left: 30px;
}

.modalEditarProdutoCarrinho__containerLinkDaImagem {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 68px;
    margin-top: 40px;
}
#divBotoes{
    display: flex;
    width: 90%;
}

@media (max-width: 480px){

    #cadastrarProdutoInfo {
        display: flex;
        justify-content: center;
        background: #FFFFFF;
        border-radius: 0px 0px 8px 8px;
        width: 408px;
    }
    #vitrineCategorias {
        display: grid;
        justify-content: space-between;
        margin: 0 48px 48px;
    }
    #vitrineCategorias #adicionarProduto{
        margin-top: 10px;
        width: 227px;
    }
    #fotoPerfilDireita{
        display: none;
    }
    #botaoPesquisar{
        display: none;
    }

    #barraDePesquisa{
        width: 143px;
    }
    #pesquisa{
        width: 143px;
    }
    .modalEditarProdutoCarrinho__containerNome {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 25px;
    }

    #cadastrarProdutoCategorias, #editarProdutoCategorias {
        display: flex;
        justify-content: flex-start;
        overflow: auto;
        max-width: 440px;
        width: 80vw;
    }

    .modalEditarProdutoCarrinho__containerDescricao {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 96px;
        margin: 10px 0px;
    }
    .modalEditarProdutoCarrinho__input {
        width: 365px;
        padding: 10px 20px;
        margin: 16px 0px;
        border: 1.5px solid #DEE2E6;
        box-sizing: border-box;
        border-radius: 12px;
        color: #212529;
        background-color: #F8F9FA;
    }
    .modalEditarProdutoCarrinho__textArea {
 
        width: 365px;
        
    }
    .modal {
        display: none;
        align-items: center;
        justify-content: center;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        /* width: 100%; */
        height: 100%;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
    }

    #cadastrarProdutoForm {
        display: flex;
        flex-direction: column;
        width: fit-content;    }
    .cadastrarProdutoInput {
        width: 368px;
        height: 52px;
        background: #F8F9FA;
        border: 1.5px solid #DEE2E6;
        box-sizing: border-box;
        border-radius: 12px;
    }
    .modalEditarProdutoCarrinho__categoria {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: center;
        width: 357px;
        height: 96px;
        margin-top: 10px;
    }
    #divBotoes{
        display: flex;
        width: 23%;
    }
    #adicionarProduto, #cadastrarProdutoButton {
        background-color: #FF2253;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1.5px solid #FF2253;
        box-sizing: border-box;
        border-radius: 32px;
        cursor: pointer;
        color: white;
        font-weight: 500;
        font-size: 16px;
        width: 365px;
        line-height: 19px;
    }
    .modalEditarProdutoCarrinho {
        width: 496px;
        display: grid;
        margin: auto;
        place-content: center;
    }
    .modalEditarProdutoCarrinho__containerBotoesSubmit {
        margin-bottom: 30px;
        /* width: fit-content; */
        display: flex;
    }
    .modalEditarProdutoCarrinho {
        width: 496px;
        margin: auto;
    }
    .modalEditarProdutoCarrinho__containerBotoesSubmit .modalEditarProdutoCarrinho__butoes--width {
        width: 177px;
    }
    .modalEditarProdutoCarrinho__corpo {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 401px;
        border-radius: 0px 0px 8px 8px;
        background-color: #FFFFFF;
    }
    .modalEditarProdutoCarrinho__cabecalho {
        display: flex;
        align-items: center;
        position: relative;
        width: 401px;
        height: 70px;
        border-radius: 8px 8px 0px 0px;
        background-color: #F8F9FA;
    }

    #cadastrarProdutoCategorias, #editarProdutoCategorias {
        display: flex;
        justify-content: flex-start;
        overflow: auto;
        max-width: 229px;
        width: 80vw;
    }

    #adicionarProduto, #cadastrarProdutoButton {
        background-color: #FF2253;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1.5px solid #FF2253;
        box-sizing: border-box;
        border-radius: 32px;
        cursor: pointer;
        color: white;
        width: 77px;
        font-weight: 500;
        font-size: 16px;
        width: 226px;
        line-height: 19px;
    }
    #cadastrarProdutoForm label {
        margin-top: 10px;
        width: 200px;
        margin-bottom: 5px;
    }
#cadastrarProdutoInfo {
    display: flex;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 0px 0px 8px 8px;
    width: 286px;
}

.btn-style-modal-delete {
    border-radius: 32px;
    color: #868E96;
    border: none;
    margin-bottom: 35px;
    margin-top: 49px;
    margin-left: 28px;
    width: fit-content;
    padding: 0 37px;
    height: 52px;
    cursor: pointer;
}
.modal-content {
    display: flex;
    flex-direction: column;
    background-color: #F8F9FA;
    margin: auto;
    padding: 20px 0px;
    border: 1px solid #888;
    width: 286px;
    border-radius: 8px;
    font-family: 'Inter';
}
#delete-info>h2 {
    margin-right: 50px;
    margin-left: 50px;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    width: fit-content;
}
#cadastrarProdutoForm {
    display: flex;
    flex-direction: column;
    max-width: 357px;
}

.cadastrarProdutoInput {
    width: 228px;
    height: 52px;
    background: #F8F9FA;
    border: 1.5px solid #DEE2E6;
    box-sizing: border-box;
    border-radius: 12px;
}
}