

body{
  font-family: 'Poppins', sans-serif;
 
}

#modal-delete{
  position: absolute;
  top: -2px;
  left: -225px;
  height: 283px;
  width: 491px;
  border-radius: 8px 8px 8px 8px;
  margin-top: 52px;
  margin-bottom: 527px;
  /* margin-right: 696px; */
  margin-left: 676px;
  background-color: #FFFFFF;
  
}

#opcao-sair{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.titulo-delete{
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 28px;
}


#sair{
  color: #868E96;
  border: none;
  width: 31px;
  height: 30px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}


#delete-info>h2{
  margin-top: 50px;
  margin-right: 71px;
  margin-left: 69px;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  width: 369px;
}



.btn-style-modal-delete{
  border-radius: 32px;
  color: #868E96;
  border: none;
  margin-bottom: 35px;
  margin-top: 49px;
  margin-left: 28px;
  width: 210px;
  height: 52px;

}